.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    margin-left: 20px;
    text-decoration: none;
}
header{
    background-color: black;
    color: white;
    padding: 20px 40px;
}
nav a:hover{
    color: gray;
}
body{
    margin: 0;
}
.info-container{
    display: flex;
    gap: 40px;
        justify-content: center;

    flex-wrap: wrap;
    margin-top: 40px;
}

.presentacion{

    text-align: center;

}

.info-container section{
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
}
li{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

li:last-child{
    border-bottom: none;
}
ul{
    list-style: none;
    padding: 0;
}
.reviews{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
        background-color: black;
    color: white;
}

.review-card{
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    border-radius: 15px;
}

.projects{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    
}

.project-card{
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    
}

.page-title{
    text-align: center;
    margin-top: 40px;
}

.articles{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.article-card{
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

.article-card a{
    text-decoration: none;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.contact-form input,
.contact-form textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button{
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}